@import "./mixin.scss";

.contact-hero {
    @include adaptiv-value("padding-top", 133, 90, 1);
    background-color: #ecebe7;
    &__container {
    }

    &__body {
        display: flex;
        gap: 24px;
        @include adaptiv-value("padding-bottom", 60, 40, 1);
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__col-01 {
        width: 28%;
        position: relative;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__title {
        color: #232323;
        @include adaptiv-value("font-size", 32, 24, 1);
        font-weight: 700;
        line-height: normal;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 16px;
        left: 0;
        span {
            color: #cd8c2a;

            @media (max-width: 992px) {
                br {
                    display: none;
                }
            }
        }

        @media (max-width: 992px) {
            position: static;
        }
    }

    &__col-02 {
        width: 72%;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__text {
        @include adaptiv-value("font-size", 52, 32, 1);
        line-height: normal;
        color: #232323;
        font-weight: 400;
    }

    &__image {
        img {
            width: 100%;
            object-fit: cover;
            height: 200px;

            @media (max-width: 767px) {
                height: 100px;
            }
        }
    }
}

.contact-take {
    @include adaptiv-value("padding-top", 100, 50, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
    background-image: url("/images/challanges/img-back-01.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &__container {
    }

    &__body {
        background-color: #1d0a5b;
        border-radius: 8px;
        @include adaptiv-value("padding-top", 93, 84, 1);
        @include adaptiv-value("padding-bottom", 93, 84, 1);
        padding-left: 28px;
        padding-right: 28px;
    }

    &__title {
        text-align: center;
        @include adaptiv-value("font-size", 52, 32, 1);
        line-height: normal;
        color: #fff;
        font-weight: 400;

        @media (max-width: 767px) {
            text-align: start;

            br {
                display: none;
            }
        }
    }

    &__buttons {
        @include adaptiv-value("margin-top", 40, 24, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__link {
        padding: 16px 20px;
        border-radius: 4px;
        font-size: 14px;
        line-height: normal;
        font-weight: 500;
        transition: all 0.3s ease 0s;

        &:nth-child(1) {
            background-color: #edebe7;
            color: #cd8c2a;
            &:hover {
                background-color: #cd8c2a;
                color: #232323;
            }
        }

        &:nth-child(2) {
            background-color: #cd8c2a;
            color: #232323;
            &:hover {
                background-color: #edebe7;
                color: #cd8c2a;
            }
        }
    }
}

.contact-main {
    padding: 60px 0;
    background-color: #1d0a5b;
    position: relative;
    z-index: 30;
    &__container {
    }

    &__body {
        display: flex;
        gap: 24px;

        @media(max-width: 992px) { 
            flex-direction: column;
        }
    }

    &__col-01 {
        width: 47%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__block-01 {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title {
        max-width: 350px;
        width: 100%;
        font-size: 40px;
        line-height: normal;
        color: #cd8c2a;
        font-weight: 500;
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    &__text {
        font-size: 16px;
        line-height: normal;
        color: #fff;
        font-weight: 400;
        max-width: 350px;
        width: 100%;
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__social {
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        line-height: normal;
        font-weight: 600;
        color: #edebe7;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;

        svg {
            path {
                fill: #fff;
                transition: all 0.3s ease 0s;
            }
        }

        &:hover {
            color: #cd8c2a;
            svg {
                path {
                    fill: #cd8c2a;
                }
            }
        }
    }

    &__block-02 {
        margin: 24px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 16px;
    }

    &__contact {
        color: #8479a3;
        font-size: 14px;
        line-height: normal;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__link-contact {
        color: #edebe7;
        font-size: 16px;
        line-height: normal;
        max-width: 250px;
    }

    &__col-02 {
        width: 53%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__form {
        .contact-form {
            .form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                @media (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                }
                .top {
                    grid-column-start: span 2;

                    .title {
                        font-size: 40px;
                        line-height: normal;
                        font-weight: 500;
                        color: #cd8c2a;
                    }

                    .text {
                        margin: 24px 0 0 0;
                        font-size: 16px;
                        line-height: normal;
                        color: #ffffff;
                        max-width: 320px;
                    }
                }

                .row {
                    input {
                        padding: 16px;
                        display: flex;
                        width: 100%;
                        background-color: transparent;
                        border-bottom: 1px solid #ffffff;

                        font-size: 16px;
                        line-height: normal;
                        color: #fff;
                        transition: all 0.3s ease 0s;

                        &::placeholder {
                            color: #fff;
                            font-size: 16px;
                            line-height: normal;
                        }

                        &.invalid {
                            border-color: #ff0000;
                        }
                    }

                    &._phone {
                        .react-tel-input {
                            &.invalid {
                                .input {
                                    border-color: #ff0000;
                                }
                            }

                            input {
                                height: 100%;
                                border: none;
                                border-bottom: 1px solid #fff;
                                padding-left: 65px;
                                border-radius: 0;
                            }

                            .flag-dropdown {
                                width: fit-content;
                                position: absolute;
                                top: 0;
                                left: 0;
                                border: none;
                                background: transparent;
                                &:hover {
                                    background-color: transparent !important;
                                }

                                &.open {
                                    width: 100%;
                                }

                                .selected-flag {
                                    position: absolute;
                                    height: 51px;
                                    top: 0;
                                    left: 0;
                                    padding-left: 16px;
                                    background-color: transparent;

                                    .arrow {
                                        border-top-color: #fff;
                                        margin-left: 5px;
                                    }

                                    .iti-arrow {
                                        right: -5px;
                                    }

                                    .selected-dial-code {
                                        color: #959595;
                                        font-family: "Geist", sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: normal;
                                        letter-spacing: 0.32px;
                                    }
                                }

                                .country-list {
                                    width: 100%;
                                    top: 40px;
                                    border-radius: 0;
                                    &::-webkit-scrollbar {
                                        background: transparent !important;
                                        width: 0px !important;
                                    }

                                    &::-webkit-scrollbar-track {
                                        background: transparent !important;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        background-color: transparent !important;
                                        opacity: 0 !important;
                                    }

                                    li {
                                        color: var(--6, #0b1d20);
                                        font-family: "Geist", sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 120%;
                                    }
                                }
                            }
                        }
                    }
                }

                .button {
                    margin: 32px 0 0 auto;
                    padding: 16px 45px;
                    background-color: #cd8c2a;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    color: #ffffff;
                    grid-column-start: 2;
                    transition: all 0.3s ease 0s;

                    &:hover {
                        background-color: #edebe7;
                        color: #cd8c2a;
                    }

                    @media(max-width: 767px) { 
                        margin: 0;
                        max-width: 100%;
                        width: 100%;
                    }
                }

                .general-error {
                    grid-column-start: 1;
                    margin: auto 0 0 0;
                    padding: 13px 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    gap: 8px;
                    background-color: #ecebe7;
                }
            }

            .success-message { 
                max-width: 470px;
                color: #fff;
                @include adaptiv-value('font-size', 32, 18, 1);
                line-height: normal;
                span { 
                    display: flex;
                    margin: 40px 0 0 0;
                    font-weight: 700;
                    color: #cd8c2a;
                    @include adaptiv-value('font-size', 52, 32, 1);
                }
            }
        }
    }
}
