@import "mixin";

.header {
    padding: 23px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    &._white {
        .header__logo {
            svg {
                path {
                    fill: #fff;
                }
            }
        }

        .header__link {
            color: #fff;
        }

        .header__social {
            a {
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: 12px 0;
    }
    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }

    &__col-01 {
    }

    &__logo {
        position: relative;
        z-index: 999;
        svg {
            width: 126px;
            object-fit: cover;
            path {
                fill: #000000;
            }
        }
    }

    &__col-02 {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__nav {
        @media (max-width: 992px) {
            position: absolute;
            left: 0;
            top: 0;
            /* @include adaptiv-value('top', 100, 78, 1); */
            @include adaptiv-value('padding-top', 140, 118, 1);
            width: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: #ecebe7;
            padding-bottom: 40px;
            padding-left: 24px;
            padding-right: 24px;
            transition: all 0.5s ease 0s;

            &._active {
                opacity: 1;
                visibility: visible;
                z-index: 99;
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 8px;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__socials-mobile {
        @media(min-width: 993px) { 
            display: none;
        }
        margin: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            a {
                color: #232323;
                font-weight: 600;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                gap: 8px;
                svg {
                    width: 16px;
                    height: 16px;
                    path {
                        fill: #232323;
                    }
                }
            }
        }
    }

    &__social {
        a {
            svg {
                path {
                    transition: all 0.3s ease 0s;
                    fill: #000000;
                }

                #mask0_2077_7314 {
                    path {
                        fill: #000000;
                    }
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #cd8c2a;
                    }
                }
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        @include adaptiv-value("gap", 32, 16, 1);

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }

        &._white {
            @media (max-width: 992px) {
                li {
                    a {
                        color: #232323 !important;
                    }
                }
            }
        }
    }

    &__item {
    }

    &__link {
        font-size: 14px;
        line-height: normal;
        font-weight: 700;
        color: #000000;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #cd8c2a;
        }

        @media(max-width: 992px) { 
            font-size: 24px;
        }
    }

    &__menu-btn { 
        position: relative;
        z-index: 999;
        @media(min-width: 993px) { 
            display: none;
        }
    }
}
