@import "../mixin.scss";

.home-ready {
    @include adaptiv-value("padding-top", 80, 50, 1);
    @include adaptiv-value("padding-bottom", 80, 50, 1);
    background-color: #cd8c2a;
    &__container {
    }

    &__body {
    }

    &__title {
        @include adaptiv-value("font-size", 52, 38, 1);
        line-height: 120%;
        color: #fff;
        text-align: center;

        @media (max-width: 767px) {
            br {
                display: none;
            }
        }
    }

    &__buttons {
        @include adaptiv-value("margin-top", 40, 24, 1);
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__btn-01 {
        padding: 16px 20px;
        background-color: #edebe7;
        border-radius: 4px;
        transition: all 0.3s ease 0s;

        color: #1d0a5b;
        font-size: 14px;
        line-height: normal;
        font-weight: 500;
        text-align: center;
    }

    &__btn-02 {
        padding: 16px 20px;
        background-color: #1d0a5b;
        border-radius: 4px;
        transition: all 0.3s ease 0s;

        color: #ffffff;
        font-size: 14px;
        line-height: normal;
        font-weight: 500;
        text-align: center;
    }
}

.home-hero {
    @include adaptiv-value("padding-top", 265, 80, 1);
    @include adaptiv-value("padding-bottom", 80, 50, 1);
    &__container {
    }

    &__body {
    }

    &__content {
    }

    &__tile {
        @include adaptiv-value("font-size", 100, 50, 1);
        line-height: 100%;
        font-weight: 800;
        color: #edebe7;
        max-width: 695px;
    }

    &__text {
        margin: 8px 0 0 0;
        @include adaptiv-value("font-size", 24, 16, 1);
        line-height: normal;
        font-weight: 600;
        color: #fff;
    }

    &__buttons {
        margin: 40px 0 0 0;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__link {
        &:nth-child(1) {
            padding: 16px 20px;
            background-color: #edebe7;
            border-radius: 4px;
            transition: all 0.3s ease 0s;

            color: #1d0a5b;
            font-size: 14px;
            line-height: normal;
            font-weight: 500;
            text-align: center;
        }

        &:nth-child(2) {
            padding: 16px 20px;
            background-color: #CD8C2A;
            border-radius: 4px;
            transition: all 0.3s ease 0s;

            color: #fff;
            font-size: 14px;
            line-height: normal;
            font-weight: 500;
            text-align: center;
        }
    }
}


.home-text {
    @include adaptiv-value('padding-top', 120, 60, 1);
    @include adaptiv-value('padding-bottom', 60, 30, 1);
    &__container {
    }

    &__body {
    }

    &__title {
        @include adaptiv-value('font-size', 52, 32, 1);
        line-height: normal;
        color: #232323;
        margin: 0 0 24px 0;
    }

    &__text {
        max-width: 870px;
        margin: 0 0 0 auto;
        @include adaptiv-value('font-size', 32, 18, 1);
        line-height: normal;
        color: #232323;
        font-weight: 400;
    }
}